# Fichiers système
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Dossiers temporaires (optionnel, à adapter selon vos besoins)
# node_modules/

# Fichiers de configuration locaux
.env
.env.local
config-api.js

# Dossier temporaire de sprites (non nécessaire pour le déploiement)
lpc-sprites-temp/


